<!--// ************************************************************ Task Planner *************************************************************************
// Developed By          : Subhashish Ghosh
// Date                  : 7th Dec 2018
// Version               : TaskPlanner v_1.0_Release
// ********************************************* Copy Righted Material. All Rights Reserved *********************************************************** -->


<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
<header>
  <h1>{{ title }}</h1>
</header>
<div style="text-align:center;width:100%;">
<div id="content">
  <app-task-planner-main></app-task-planner-main>
</div>
</div>
<div>
